[Unit]
Description=ChatBot Flask App
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/ChatBot
EnvironmentFile=/home/ubuntu/ChatBot/.env
ExecStart=/home/ubuntu/ChatBot/venv/bin/uvicorn asgi:app --host 127.0.0.1 --port 5003 --workers 1
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
